.headerSuits, 
.btn-cards,
.footer {
    background: var(--darkBrown2);
}

.carousel-suiteInfo, 
.motelInfo,
.cards-itemText {
    color: var(--darkBrown2);
}

.whiteColor,
.headerSuits a,
.mainCarousel h3,
.btn-motelInfo,
.courtesies h3,
.footer a {
    color: var(--white);
}

.btn--introduction, 
.btn--headerSuits,
.btn-carousel,
.btn-motelInfo,
.btn-maps,
.btnFooter--brown  {
    background: var(--darkBrown);
}

.btn--introduction:hover, 
.btn--headerSuits:hover,
.btn-carousel:hover,
.btn-motelInfo:hover,
.btn-maps:hover,
.btnFooter--brown:hover {
    background: var(--lightBrown);
    transition: .3s;
}

.carousel-control-prev, 
.carousel-control-next,
.carousel-suiteInfo,
.motelInfo,
.cards-itemText,
.mapsText,
.line {
    background-color: var(--white);
}

.motel, .maps {
    background-color: var(--lightGrey);
}


.btnFooter--grey {
    border: 1.5px solid var(--white);
}

.copyright {
    background-color: black;
}